*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a,#1e3a8a, #06b6d4);
    padding: 20px;
}

.main{
    width: 85%;
}

.log{
    display: flex;
    justify-content: center;
    padding: 50px;
    border-radius: 30px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255,255,255,0.15);
    box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

form{
    width: 400px;
    padding: 40px;
    border-radius: 25px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    border: 2px solid rgba(255,255,255,0.1);
    transition: 0.3s ease;
}

p{
    display: inline;
}
a{
    text-decoration: none;
    color: aliceblue;
}
form:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}
h2{
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

label{
    display: block;
    color: #dbeafe;
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 15px;
}

input{
    width: 100%;
    padding: 12px 14px;
    border: none;
    outline: none;
    border-radius: 12px;

    background: rgba(255,255,255,0.12);
    color: white;
    font-size: 15px;
    border: 1px solid rgba(255,255,255,0.1);
    transition: 0.3s;
}

input::placeholder{
    color: #cbd5e1;
}

button{
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    border: 2px solid rgb(16, 100, 133);
    border-radius: 14px;

    background:#011f41ee;

    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: 0.3s ease;
}

button:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(59,130,246,0.5);
}

@media(max-width: 900px){

    .log{
        padding: 25px;
    }

    form{
        width: 100%;
    }
}